@model HearMe.BLL.DTM.UserDTM
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="leftMenu">
        <menu>
            @Html.ActionLink("Edit", "Edit", "Account")
            <a asp-action="Index" asp-controller="Song">Songs</a>
            <a asp-action="Index" asp-controller="Genre">Genres</a>
        </menu>
    </div>
    <div class="mainMenu">

    </div>
</div>
