<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GuestsBook.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-evenly">
                    
                    @if (Context.Request.Cookies["FirstName"] == null && Context.Request.Cookies["LastName"] == null)
                    {
                        <a href="#" class="nav-link text-light" id="btn-all-messages">All Messages</a>
                        <a href="#" class="navbar-brand" id="btn-open-login-dialog">Login</a>
                    }
                    else
                    {
                        <a href="#" class="nav-link text-light" id="btn-self-messages">My Messages</a>
                        <a href="#"
                           class="navbar-brand" 
                           id="btn-all-messages-named">
                           @Context.Request.Cookies["FirstName"]&nbsp;@Context.Request.Cookies["LastName"] 
                        </a>
                        <a href="#" class="navbar-brand" id="btn-logout">Logout</a>
                    }
                </div>
            </div>
        </nav>
    </header>
@RenderBody()
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: true)
</body>
</html>
