<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HearMe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HearMe.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HearMe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
            </div>
        </nav>
    </header>
    @if (Context.Request.Cookies["Login"] != null)
    {
        <div class="my-container">
            <div class="left-menu">
                <menu class="admin-menu">
                    <div class="menu-item">
                        <span class="material-symbols-outlined">
                            manage_accounts
                        </span>
                        <a asp-controller="Account" asp-action="Edit">Edit Account</a>
                    </div>
                    <div class="menu-item">
                        <span class="material-symbols-outlined">
                            library_music
                        </span>
                        <a asp-action="Index" asp-controller="Song">Songs</a>
                    </div>
                    <div class="menu-item">
                        <span class="material-symbols-outlined">
                            lyrics
                        </span>
                        <a asp-action="Index" asp-controller="Genre">Genres</a>
                    </div>
                    <div class="menu-item">
                        <span></span>
                        <a asp-action="GetUsersToConfirmList" asp-controller="Admin">Confirm user</a>
                    </div>
                    <div class="menu-item">
                        <span></span>
                    </div>
                </menu>
            </div>
                @RenderBody()
        </div>
    }
    else
    {
            @RenderBody()
    }
    <div class="audio-player">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
        <div class="player-controls">

            <div class="main-controls">
                <button class="play-pause">&#9658;</button>
                <div class="time-display">0:00 / 0:00</div>
            </div>
            <div class="additional-controls">
                <div class="volume-icon">
                    <div class="volume-control-container" style="display:none;">
                        <input type="range" class="volume-control" min="0" max="100" value="100">
                    </div>
                    <span class="material-symbols-outlined">
                        volume_up
                    </span>
                </div>
                <button class="repeat">
                    <span class="material-symbols-outlined">
                        repeat
                    </span>
                </button>
            </div>
        </div>
        <audio id="audio" src="/"></audio>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" type="module"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
