@model HearMe.BLL.DTM.UserDTM

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <h3>Account settings</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="Login" value = "@Context.Request.Cookies["Login"] class="form-control" />

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName" class="text-danger"></span>

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName" class="text-danger"></span>

    <label asp-for="AvatarPath"></label>
    <input type="file" name="fileUpload" asp-for="AvatarPath" >
    <span asp-validation-for="AvatarPath" class="text-danger"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" value="@string.Empty" />
    <span asp-validation-for="Password" class="text-danger"></span>

    <div class="buttons">
        <button type="submit" class="submit-btn">Edit</button>
        <a asp-action="Index" asp-controller="Song" class="button reject-btn">Back</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
