@model HearMe.Models.LoginVM

@{
    ViewData["Title"] = "Login";
}
<form asp-action="Login" class="loginForm">
    <h3>Login</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Login"></label>
        <input asp-for="Login"/>
        <span asp-validation-for="Login" class="text-danger"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    <div class="buttons">
        <button type="submit" class="submit-btn">Login</button>
        <a asp-action="Regist" asp-controller="Account" class="button submit-scnd-btn">Registration</a>
    </div>
</form>


@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
