@model GuestsBook.Models.Message

@{
    ViewData["Title"] = "Create";
}




<form asp-action="Create" class="dialog-content" method="post">
    <h3>Create</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Mesage" class="control-label"></label>
        <textarea asp-for="Mesage" class="form-control" ></textarea>
        <span asp-validation-for="Mesage" class="text-danger"></span>
        <select style="display:none;" asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>

    <div class="buttons">
        <button type="submit" value="Create" class="btn-green" >Create </button>
        <a asp-action="Index" asp-controller="Home" class="btn-blue">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
