@model GuestsBook.Models.Message

@{
    ViewData["Title"] = "Details";
}
<div class="dialog-content">
    <h3>Details</h3>
    <label asp-for="Mesage"></label>
    <textarea readonly asp-for="Mesage" class="form-control"></textarea>
    <span asp-validation-for="Mesage" class="text-danger"></span>
    <label asp-for="User"></label>
    <input readonly type="text" value="@Html.DisplayFor(model => model.User.Login)" />
            
    <div class="buttons" style="justify-content: center !important">
        <a asp-action="Index" asp-controller="Home" class="btn-blue" >Back to List</a>
    </div>
</div>
