@model GuestsBook.Models.Message

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" class="dialog-content">
    <h3>Message</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <label asp-for="Mesage"></label>
    <textarea asp-for="Mesage" class="form-control"></textarea>
    <span asp-validation-for="Mesage" class="text-danger"></span>

    <select style="display:none;" asp-for="UserId" asp-items="ViewBag.UserId"></select>

    <div class="buttons">
        <button type="submit" value="Save" class="btn-green" >Save</button>
        <a asp-action="Index" asp-controller="Home" class="btn-blue">Back to List</a>
    </div>
</form>


<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
