html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
 margin-top:50px;
  width: 100%;
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content: space-around;
  background-image: linear-gradient(to left top, #0c397c, #006cb6, #009dbc, #00c987, #71eb12);
}
header{
    position: absolute;
    top:0;
    width:100%;
}
.message-container {
    width: 100%;
}
.message .buttons-message{
    align-self:center;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}
.buttons-message a{
    margin-top:15px;
    text-decoration: none;
    font-weight: bold;
    font-style:italic;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
}
.buttons-message a:hover{
    transition: .5s;
}
.buttons-message #btn-change {
    color: #18e101;
    background: #eee900;
    box-shadow: 0px 0px 10px 4px rgba(237,201,0,1);
}
.buttons-message #btn-details {
    color: #eee900;
    background: #18e101;
    box-shadow: 0px 0px 10px 4px rgba(2,179,17,1);
}
.buttons-message #btn-delete {
    color: #0c5898;
    background: #eb4e4e;
    box-shadow: 0px 0px 10px 4px rgba(194,31,31,1);
}
.buttons-message #btn-change:hover{
    color: #eee900;
    background: #18e101;
}
.buttons-message #btn-details:hover {
    color: #18e101;
    background: #eee900;
}
.buttons-message #btn-delete:hover {
    color: #eb4e4e;
    background: #0c5898;
}
.message-container .message {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    margin: 30px 10px;
    padding: 10px;
    background: #cbc8ea;
    border-radius: 10px;
    box-shadow: 7px 7px 10px 3px rgba(140,136,179,1);
}
.message h5{
    font-size: 14px;
    align-self:flex-end;
    color: #fa6808;
}
.message p{
    font-size: 1.2em;
    font-style:italic;
    color: #167415
}
.dialog {
    width: 35%;
    height: fit-content;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.75);
    background-image: linear-gradient(to right bottom, #0c397c, #006cb6, #009dbc, #00c987, #71eb12);
}
#dialogContent{
    position:fixed;
    height: max-content;
    top:30%;
    right: 30%;
}
#dialogContent .dialog-content{
    padding: 20px;
}
.dialog-content textarea{
    width:80%;
    border: none;
    border-radius: 15px;
    min-height:150px;
    padding: 5px 10px;
}
.dialog .dialog-content {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.dialog .dialog-content input{
    width: 80%;
    margin-bottom:10px;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
}
.dialog .dialog-content label{
    color: #ed9c0a;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5px
}
.dialog .dialog-content .buttons{
    width:80%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
.dialog .dialog-content .buttons button{
    margin-top:20px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    width:120px;
    font-size: 1.1em;
    font-weight: 500;

}
.dialog .dialog-content .buttons a{
    text-decoration:none;
    margin-top:20px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    width:120px;
    font-size: 1.1em;
    font-weight: 500;
}
.dialog .dialog-content h3{
    color: #16e81a;
    text-shadow: 3px 3px 5px white;
    margin-bottom: 10px;
}
.dialog .dialog-content .buttons button:hover, a:hover{
    transition: 0.5s;
}
#btn-close-login-dialog, #btn-close-regist-dialog {
    background: none;
    border: none;
    color: #eb4e4e;
    position: absolute;
    top: 16px;
    right: 15px;
}
.btn-green {
    color: white;
    background-color: #16e81a;
    box-shadow: 0px 0px 10px 7px white;
}
.btn-green:hover {
    color: #16e81a;
    background: white;
    box-shadow: 0px 0px 10px 7px #16e81a;
}
.btn-blue {
    color: #0e4fea;
    background-color: #0aefda;
    box-shadow: 0px 0px 10px 7px #0e4fea;
}
.btn-blue:hover {
    color: #0aefda;
    background: #0e4fea;
    box-shadow: 0px 0px 10px 7px #0aefda;
}