@model HearMe.BLL.DTM.GenreDTM

@{
    ViewData["Title"] = "CreateGenre";
}
<form asp-action="CreateGenre">
    <h1>Adding new genre</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    <div class="buttons">
        <button type="submit" class="submit-btn">Create</button>
        <a asp-action="Index" class="button reject-btn">Back to List</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
