@model IEnumerable<HearMe.BLL.DTM.GenreDTM>

@{
    ViewData["Title"] = "Index";
}

<div class="genre-container">
    <h3>Genres list</h3>
    @if (TempData["SM"] != null)
    {
        <div class="alert alert-success">
            @TempData["SM"]
        </div>
    }
    <a asp-action="CreateGenre" class="button submit-scnd-btn">Add new genre</a>
    @foreach (var item in Model) {
        <div class="genre">
           <h4 style="width:150px;">@item.Name</h4>
            <div class="buttons">
               <a asp-action="EditGenre" asp-controller="Genre" asp-route-id="@item.Id" class="button submit-btn">Edit</a>
               <a asp-action="DeleteGenre" asp-controller="Genre" asp-route-id="@item.Id" class="button reject-btn">Delete</a>
            </div>
        </div>
    }
</div>