@model GuestsBook.Models.RegistMDL

@{
    ViewData["Title"] = "Regist";
}

<form asp-action="Regist" class="dialog-content" method="post">
    <h3>Regist</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>


    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>


    <label asp-for="Login" class="control-label"></label>
    <input asp-for="Login" class="form-control" />
    <span asp-validation-for="Login" class="text-danger"></span>


    <label asp-for="Password" class="control-label"></label>
    <input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>


    <label asp-for="PasswordConfirm" class="control-label"></label>
    <input asp-for="PasswordConfirm" class="form-control" />
    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    <div class="buttons">
        <button type="submit" id="btn-regist-dialog" class="btn-green">Registrate</button>
        <button type="button" id="btn-back-to-login" class="btn-blue">Go Back</button>
    </div>
    <button type="button" id="btn-close-regist-dialog">
        <span class="material-symbols-outlined">
            cancel
        </span>
    </button>
</form>


<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
