@{
    ViewData["Title"] = "Home Page";
}
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
@section Scripts{

}



<dialog class="login-dialog">
    <form id="login-form">
        <label for="login">Login</label>
        <input type="text" id="login" name="login" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <label for="age">Возраст:</label>
        <button type="button" id="btn-login-dialog">Login</button>
        <button type="button" id="btn-regist">Registration</button>
        <button type="button" id="btn-close-login-dialog">Close</button>
    </form>
</dialog>
<dialog class="registration-dialog">
    <form id="registration-form">
        <input type="hidden" id="hdn-user-id" name="id">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" required>
        <label for="login-regist">Login</label>
        <input type="text" id="login-regist" name="login-regist" required>
        <label for="password-regist">Password</label>
        <input type="password" id="password-regist" name="password-regist" required>
        <button type="button" id="btn-regist-dialog">Registrate</button>
        <button type="button" id="btn-back-to-login">Back to Login</button>
        <button type="button" id="btn-close-regist-dialog">Close</button>
    </form>
</dialog>
<div class="message-container">

    <div class="message">
        <h5 id="user-login">User login field</h5>
        <p id="message-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Animi rem rerum aperiam corporis odio sunt voluptatum quo,
            et amet nemo officiis, reiciendis voluptas repudiandae,
            iure ratione id necessitatibus soluta voluptates?
        </p>
        <div class="buttons-message">
            <button type="button" id="btn-change">Change</button>
            <button type="button" id="btn-details">Details</button>
            <button type="button" id="btn-delete">Delete</button>
        </div>
    </div>
</div>
<div class="form-container">
    <form id="registration-form">
        <input type="hidden" id="hdn-user-id" name="id">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" required>
        <label for="login-regist">Login</label>
        <input type="text" id="login-regist" name="login-regist" required>
        <label for="password-regist">Password</label>
        <input type="password" id="password-regist" name="password-regist" required>
        <div class="buttons">
            <button type="button" id="btn-regist-dialog">Registrate</button>
            <button type="button" id="btn-back-to-login">Back to Login</button>
            <button type="button" id="btn-close-regist-dialog">Close</button>
        </div>
    </form>
    
</div>
