@model ASP_MVC_PR_1.Models.Movie

@{
    ViewData["Title"] = "Изменение фильма";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изменение фильма</h1>
<hr />

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div class="iteminfo">
        <div class="info1">
            <h1><label asp-for="MovieName" class="control-label"></label></h1>
            <input asp-for="MovieName" class="form-control" />
            <span asp-validation-for="MovieName" class="text-info"></span>
        </div>
        <div class="info1">
            <h1><label asp-for="Director" class="control-label"></label></h1>
            <input asp-for="Director" class="form-control" />
            <span asp-validation-for="Director" class="text-info"></span>
        </div>
        <div class="info1">
            <h1><label asp-for="Genre" class="control-label"></label></h1>
            <input asp-for="Genre" class="form-control" />
            <span asp-validation-for="Genre" class="text-info"></span>
        </div>
        <div class="info1">
            <h1><label asp-for="RealeaseDate" class="control-label"></label></h1>
            <input asp-for="RealeaseDate" class="form-control" />
            <span asp-validation-for="RealeaseDate" class="text-info"></span>
        </div>
        <div class="info1">
            <h1><label asp-for="Description" class="control-label"></label></h1>
            @Html.TextAreaFor(model => Model.Description, 15, 54, null)
            <span asp-validation-for="Description" class="text-info"></span>
        </div>

        <div class="info1">
            <h1><label asp-for="PosterPath" class="control-label"></label></h1>
            <img src="@Model.PosterPath" style="width:30%; margin: 20px;"/>
            <input type="file" name="fileUpload" class="form-control" />
        </div>
        <div class="buttons">
            <input type="submit" value="Изменить" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-info">Назад</a>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
